@font-face {
 font-family: 'Josefin Sans';
 src: url("_static/fonts/Josefin_Sans/JosefinSans-Regular.ttf") url("fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
 font-family: 'Ostrich Sans';
 src: url("_static/fonts/Ostric_Sans/OstrichSans-Regular.ttf") url("fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

body, div.body h2 {
  font-family: 'Josefin Sans', sans-serif;

}

div.body h1 {
  font-family: 'Ostrich Sans', sans-serif;
  font-size: 55px;
}


div.body h1, div.body h2 {
   color: #0496ff;
   font-weight: bold;
}

dt {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.viewcode-link {
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
}

pre {
    background: #eae5e6;
}

.footer {
  color: #878787;
}


.headerlink{
  display: none;
}


.sig-paren {
    font-size: medium;
}
