/*
GiveMeOne - Une armoire connectée
Copyright (C) 2018 Pierre-Emmanuel Colas, Matthieu Hennin, Matthieu Cesari,
                   Corentin Vretman, Maxence Dehaut

Developped in French at ESEO, engineering school (IoT Major)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version. #}

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */
.cliquable:hover{
  filter: alpha(opacity=80);
  opacity: .65;
  cursor:pointer;
}

a.cliquable {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.col.casier{
   border-style: solid;
   border-width: 2px;
   border-radius:4px;
   border-color: rgb(0,0,0);
   margin:5px;
   background-color:white;
   text-align: center;
}

.col.casier.selected{
   border-color: rgb(256,0,0);
}

.trair {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
* Sidebar
*/

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
* Dashboard
*/

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.big_number
{
  font-size: 130px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Alert */

.alert_over {
  position: fixed;
  right: 50px;
  z-index: 1000;
}
