/*
GiveMeOne - Une armoire connectée
Copyright (C) 2018 Pierre-Emmanuel Colas, Matthieu Hennin, Matthieu Cesari,
                   Corentin Vretman, Maxence Dehaut

Developped in French at ESEO, engineering school (IoT Major)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version. #}

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/* latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(.woff2) format('/static/font/permanentmarker.woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* #878787 */

.grid {
    display: none;
}

/*.grid img {
    -moz-box-shadow: 10px 10px 5px 0px #1d131366;
    -webkit-box-shadow: 10px 10px 5px 0px #1d131366;
    -o-box-shadow: 10px 10px 5px 0px #1d131366;
    box-shadow: 10px 10px 5px 0px #1d131366;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1d131366, Direction=134, Strength=5);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}*/
.col.casier{
    border-style: solid;
    border-width: 2px;
    border-radius:4px;
    border-color: rgb(0,0,0);
    margin:1px;
    background-color:white;
    text-align: center;
    padding: inherit;
}

.col.casier.selected{
    border-color: rgba(256,0,0,0.8);
}


.col.casier.locked{
    border-color: rgba(256,0,0,0.8);
}

.row.ligne{
    width:400px;
}

#floor_pi{
  height: 30px;
}

#floor_pi .col{
  color: black;
  text-align: center;
}

body {
    background-color: #eae5e6;
}

#menu {
    height: 376px;
}

.div-btn {
    height: 100%;
    color: #0496ff;
}

h4 {
    color: #eae5e6;
}

.img-thumbnail {
    height: 180px;
    border: 2px solid #ddd;
    border-radius: 1rem;
    background-size:contain;
    width:180px;
}

i {
    color: #0496ff;
}

#subcontainer_left {
    width: 500px;
    color: white;
    margin: 20px;
}

#subcontainer_right {
    width: 100px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.header {
    height: 50px;
}

.centrage_title {
    display: inline-block;
}

.between_triangle {
    max-width: 450px;
    float: left;
    background-color: #0496ff;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    padding: 0px 20px;
    font-weight: bold;
}

#admin_button {
    display: none;
}

.triangle_left {
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #0496ff transparent transparent;
}

.triangle_right {
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: #0496ff transparent transparent transparent;
}

#title {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#subtitle {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

/*Bootstrap Alerts*/
#notif_msg {
    display: block;
    position: fixed;
    text-align: center;
    width:600px;
    z-index: 1000;
    right:100px;
    top: 5px;
    background-color: #da525f;
}

.logo {
    background-image: url('/static/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bgcenter {
    background-position: center;
}

.card {
    background-color:  #0496ff;
}

.card.selected {
    background-color:  #28a745;
}

/* C'est propre ça ? */

#navigation {
    position: absolute;
    left: 40px;
    right: 60px;
    bottom: 20px;
}

.btn-primary {
    background-color: #0496ff;
    border-color: #0496ff;
}

.modal-dialog {
    max-width: 650px !important;
}

/*Product Issue page*/

.card {
    width: 200px;
    height: auto;
    background-color: #0275d8
}

.card a {
    text-decoration: none!important;
    color: #fff;
}

.card-title {
    text-align: center;
    font-style: italic;
    font-family: Roboto;
    padding: 10px;
    font-family: Permanent Marker;
    font-size: 22px
}

#gros_sac {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("/static/img/carte.gif");
    background-repeat: no-repeat;
    background-position: center;

}

#enregistrement {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("/static/img/laser.gif");
    background-repeat: no-repeat;
    background-position: center;

}

#unknown_card {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("/static/img/tournerCarte.gif");
    background-repeat: no-repeat;
    background-position: center;

}

#autre_gros_sac {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(192, 192, 192, 0.5);
}

#chargement ul{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0px;
    padding: 0px;
    display: flex;
}
#chargement ul li{
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    animation: animate 1.6s ease-in-out infinite;
    margin: 0px;
    padding: 0;
}
@keyframes animate{
    0%, 40%, 100%
    {
        transform: scale(0.2);
    }
    20%
    {
        transform: scale(1);
    }
}
#chargement ul li:nth-child(1){
    animation-delay:-1.4s;
    background-color: #0496ff;
    box-shadow: 0 0 50px #0496ff;
}
#chargement ul li:nth-child(2){
    animation-delay:-1.2s;
    background-color: #0496ff;
    box-shadow: 0 0 50px #0496ff;
}
#chargement ul li:nth-child(3){
    animation-delay:-1s;
    background-color: #0496ff;
    box-shadow: 0 0 50px #0496ff;
}
#chargement ul li:nth-child(4){
    animation-delay:-0.8s;
    background-color: #0496ff;
    box-shadow: 0 0 50px #0496ff;
}
#chargement ul li:nth-child(5){
    animation-delay:-0.6s;
    background-color: #0496ff;
    box-shadow: 0 0 50px #0496ff;
}
#chargement ul li:nth-child(6){
    animation-delay:-0.4s;
    background-color: #0496ff;
    box-shadow: 0 0 50px #0496ff;
}
#chargement ul li:nth-child(7){
    animation-delay:-0.2s;
    background-color: #0496ff;
    box-shadow: 0 0 50px #0496ff;
}
